@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;800&family=Poppins:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: antiquewhite;
}
.box-area {
  width: 930px;
}
.right-box {
  padding: 40px 30px 40px 40px;
}

::placeholder {
  font-size: 16px;
}
